@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.navbar {
    box-shadow: 0 0 10px 2.5px rgba(0, 0, 0, 0.125);
    height: 55px;
    margin-bottom: 10px;
}

.navbar-brand img {
    height: 30px;
    width: auto;
}

.text-404{
    font-size: 16rem;
}

.editor{
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #9f9f9f;
}

#editor {
    min-height: 70vh;
}