@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.navbar {
    box-shadow: 0 0 10px 2.5px rgba(0, 0, 0, 0.125);
    height: 55px;
    margin-bottom: 10px;
}

.navbar-brand img {
    height: 30px;
    width: auto;
}